// 
// Navbar
// 

#mainNav {
    min-height: 3.5rem;
    background-color: $white;

    .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: $black;
        border: $border-width solid $black;

        &:hover {
            background-color: lighten($primary, 15%);
        }
        &.active {
            border: none;
        }
    }

    .navbar-brand {
        width: 174px;
        color: $black;
        font-weight: 700;
        padding: 0.9rem 0;
        
    }

   

    .navbar-nav {
        .nav-item {
            &:hover {
                color: fade($white, 100%);
                outline: none;
                background-color: transparent;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }
    .nav-link {
        &:hover {
            color: $black;
        }
    }
    .social {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;

        .navbar-brand {
            padding: 0.5rem 0;
            color: fade-out($white, 0.4);
            &:hover {
                color: fade-out($white, 0.25);
            }
        }

        .nav-link {
            transition: none;
            padding: 1.5rem 1.5rem;
            color: fade-out($white, 0.4);

            &:hover {
                color: fade-out($white, 0.25);
            }

            &:active {
                color: $white;
            }
        }

        .social {
            width: 220px;
            // display: flex;
            // justify-content: right;
            // position: relative;
        }
        
        .social {

            a {
                text-align: center;
                height: 3rem;
                // width: 3rem;
                border-radius: 100%;
                line-height: 3rem;
                color: fade-out($white, 0.4);
                padding: 0 15px;
    
                &:hover {
                    color: fade-out($white, 0.25);
                }
    
                &:active {
                    color: $white;
                }
            }
        }
        .social-icon-container {
            display: flex;
            justify-content: right;
            position: relative;
        }
        .resume-link {
            text-decoration: none;
            width:100%;
        }
       

        &.navbar-shrink {
            background-color: $white;

            .navbar-brand {
                color: $black;
            }

            .nav-link {
                color: $black;
                padding: 1.5rem 1.5rem 1.25rem;
                border-bottom: 0.25rem solid transparent;

                &:hover {
                    color: $primary;
                }

                &:active {
                    color: darken($primary, 15%);
                }

                &.active {
                    color: $primary;
                    outline: none;
                    border-bottom: 0.25rem solid $primary;
                }
            }

            .social-link {
                color: $black;

                &:hover {
                    color: $primary;
                }
            }

            .resume-link {
                color: $black;

                &:hover {
                    color: $primary;
                }
            }
        }
        
    }
}