// 
// About
// 

.about-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.1)} 75%,
        #{fade-out($black, 0.2)} 100%);
    h2 {
        margin-top: 5rem;
        font-size: 1.5rem;
        max-width: 80%;
        margin: auto;
    }
    p {
        margin-bottom: 5rem;
        max-width: 75%;
        margin: auto;
    }
}